<%= csrf_meta_tags %>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">

        <div id="logo" class="pull-left">
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
          <!--<a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
          <img src="<%= image_path 'img/logo.png' %>" alt="">

        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">


            <li class="menu-active"><%= link_to 'Inicio', root_path, class: 'menu-active' %>
          <%= yield %></li>
            <li><a href="#about">Informacion</a></li>
            <li><a href="#speakers">Expositores</a></li>
            <li><a href="#schedule">Programa</a></li>
            <li><a href="#venue">Lugar</a></li>
            <li><a href="#hotels">Hoteles</a></li>
            <li><a href="#gallery">Galería</a></li>
            <li><a href="#supporters">Patrocinadores</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li class="buy-tickets"><a href="#buy-tickets">Inscríbete</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
