<!DOCTYPE html>
<html>
  <head>
    <title>ChileWIc</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-ahora me despido porque ya salio el cap de SNK yturbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
