<!DOCTYPE html>
<html>
  <head>
    <title>ChileWIc</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-ahora me despido porque ya salio el cap de SNK yturbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i' type='text/css' media='all' />
    <link rel="stylesheet" href="https://bootstrapmade.com/demo/assets/css/normalize.css">
    <link rel="stylesheet" href="https://bootstrapmade.com/demo/assets/css/fontello.css">
    <link rel="stylesheet" href="https://bootstrapmade.com/demo/assets/css/style.css">
  <body>
    <header id="header">


    <!--
    <div class="info">
        <a title="You are currently previewing the TheEvent Theme" href="https://bootstrapmade.com/theevent-conference-event-bootstrap-template/">TheEvent Theme</a>
    </div>
    -->
    <div class="preview-devices">
        <ul>
            <li class="preview-test preview-devices-active" id="preview-test-desktop" title="Preview the  TheEvent Theme in Desktop Mode"><a href=""><i class="icon-desktop"></i></a></li>
             <!--<li class="preview-test" id="preview-test-tablet" title="Preview the  TheEvent Theme in Tablet Mode"><a href=""><i class="icon-tablet"></i></a></li>-->
            <li class="preview-test" id="preview-test-mobile" title="Preview the  TheEvent Theme in Mobile Mode"><a href=""><i class="icon-mobile"></i></a></li>
        </ul>
    </div>

    

</header>

<div id="preview">
    <iframe id="preview-frame" class="preview-desktop" src="https://bootstrapmade.com/demo/themes/TheEvent/" frameborder="0"></iframe>
</div>
<!--
<div class="social-share" title="Like &amp; Share the TheEvent Theme">
    Like &amp; Share: &nbsp;
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FBootstrapMade&width=63&layout=button&action=like&size=large&show_faces=false&share=false&height=65&appId=163862247017518" width="63" height="28" style="border:none;overflow:hidden;margin-bottom: -9px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <a title="Share on Twitter" href="https://twitter.com/intent/tweet?url=https://bootstrapmade.com/theevent-conference-event-bootstrap-template/&text=TheEvent+Bootstrap+Theme&via=BootstrapMade" target="_blank"><i class="icon-twitter"></i></a>
    <a title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https://bootstrapmade.com/theevent-conference-event-bootstrap-template/"  target="_blank"><i class="icon-facebook"></i></a>
    <a title="Share on Pinterest" href="https://pinterest.com/pin/create/button/?url=https://bootstrapmade.com/theevent-conference-event-bootstrap-template/&media=https://bootstrapmade.com/wp-content/themefiles/TheEvent/800.png"  target="_blank"><i class="icon-pinterest-circled"></i></a>
    <a title="Share on Google Plus" href="https://plus.google.com/share?url=https://bootstrapmade.com/theevent-conference-event-bootstrap-template/" target="_blank"><i class="icon-gplus"></i></a>
    <i class="icon-cancel-circled" title="Close the sharing bar"></i>
</div>
-->
<script src="https://bootstrapmade.com/demo/assets/js/jquery-3.1.0.min.js"></script>
<script src="https://bootstrapmade.com/demo/assets/js/custom.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55234356-4', 'auto');
    ga('send', 'pageview');
</script>

    <%= yield %>

  </body>
  </head>
</html>
